<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>
        編集する
      </h3>
      <%= form.text_field :image, placeholder: "画像情報"%>
      <%= form.text_area :text, placeholder: "テキスト", rows: "10" %>
      <%= form.submit "投稿！！！"%>
    <% end %>
  </div>
</div>